# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# Ignore everything else except core code
/src/modules/**/*.*
/src/share/**/*.*
/src/loaders/**/*.*
/public/locales/**/*.*
!/src/modules/auth
!/src/modules/demo
!/src/modules/system
!/src/modules/welcome
!/src/share/AdminLayoutExample.js
!/src/share/LoaderRender.js
!/src/share/Objection.js
!/src/share/SplashScreenExample.js
!/src/loaders/index.js
!/src/loaders/EnvModuleLoader.js
!/src/loaders/UrlModuleLoader.js
!/public/locales/en/translations.js

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
nohup.out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
