/node_modules
/cache/**/*.*
/storage/**/*.*
/public/**/*.*
/modules/disabled/**/*.*
/modules/enabled/**/*.*
/migrations/**/*.*
/seeds/**/*.*
/hooks/after/*.*
/hooks/before/*.*
/middleware/disabled/*.*
/middleware/enabled/*.*
.env
nohup.out

!*.gitkeep
!/modules/enabled/helloworld

!/hooks/after/01_updateAuthorizationCache.js
!/hooks/before/01_onlyAuthenticated.js
!/hooks/before/02_onlyAvatarOwner.js

!/middleware/enabled/10_JwtDatabaseUser.js
!/middleware/enabled/20_CookieUser.js
!/middleware/enabled/50_ApolloServer.js

!/migrations/01_roles.js
!/migrations/02_users.js
!/migrations/03_permissions.js
!/migrations/04_resource_hooks.js
!/migrations/05_role_hooks.js
!/migrations/06_role_users.js
!/seeds/01_roles.js
!/seeds/02_users.js
!/seeds/03_permissions.js
!/seeds/04_resource_hooks.js
!/seeds/05_role_hooks.js
!/seeds/06_role_users.js
