/node_modules
/cache/**/*.*
/storage/**/*.*
/public/**/*.*
/modules/disabled/**/*.*
/modules/enabled/**/*.*
/migrations/**/*.*
/seeds/**/*.*
.env
nohup.out
!*.gitkeep
!/modules/enabled/helloworld
!/migrations/01_roles.js
!/migrations/02_users.js
!/migrations/03_permissions.js
!/migrations/04_resource_hooks.js
!/migrations/05_role_hooks.js
!/migrations/06_role_users.js
!/seeds/01_roles.js
!/seeds/02_users.js
!/seeds/03_permissions.js
!/seeds/04_resource_hooks.js
!/seeds/05_role_hooks.js
!/seeds/06_role_users.js
